
.main {
  padding-top: 106px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.my-rank{
  margin: 8px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  .ranking{

    font-weight: 700;
    color: #C39840;

  }
  .rank-text{
    color: #606060;
  }
  .content {
    color: #B9BFC1;
  }
}

.rank-list{
  width:315px;
  height: 375px;
  box-shadow: 2px 4px 4px #eee;
  border-radius: 24px;

}
.bg-img{
  background-image: url('/assets/img/bg.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position:top -8% left -8px;
}

.popup {

}
